[Unit]
Description=alces-hunt discovery server (hunt mode)
Documentation=https://github.com/sierra-tango-echo/alces-hunt
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=ALCES_HUNT_ROOT=/opt/alces-hunt
Environment=ALCES_HUNT_autorun_mode=hunt
Environment=ALCES_HUNT_pidfile=/opt/alces-hunt/var/alces-hunt.pid
ExecStart=/opt/alces-hunt/bin/alces-hunt autorun
Restart=on-failure
RestartSec=5
WorkingDirectory=/opt/alces-hunt

[Install]
WantedBy=multi-user.target
